{% extends "main/base.html" %} {% block content %}
<table class="content-table alt-rows">
	<thead>
		<tr>
			<th>שם פריט</th>
			<th>מספר יצרן</th>
			<th>מסח"א</th>
			<th>מספר סידורי</th>
			<th>תאריך כיול אחרון</th>
			<th>פג תוקף</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for measurement_device in object_list %}
		<tr>
			<td>{{ measurement_device.device_name }}</td>
			<td>{{ measurement_device.manufacturer_id }}</td>
			<td>{{ measurement_device.AF_id }}</td>
			<td>{{ measurement_device.device_id }}</td>
			<td>{{ measurement_device.calibration_date|date:"j/n/Y" }}</td>
			<td>{{ measurement_device.expiration_date|date:"j/n/Y" }}</td>
			<td>
				<a
					class="delete-button big"
					href="{% url 'md-delete' measurement_device.id %}"
				></a>
				<a
					class="update-button big"
					href="{% url 'md-update' measurement_device.id %}"
				></a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}
