{% extends "main/base.html" %}
{% load static %}
{% block content %}

<script defer src="{% static 'main/addform.js' %}"></script>
<div>
  <form autocomplete="off" method="POST">
    {% csrf_token %}
    <div class="table-div">
      <table class="content-table wide">
        <thead>
          <tr>
            <th>*מחלקה</th>
            <th>*תאריך בדיקה</th>
            <th>*שעת התחלה</th>
            <th>*שעת סיום</th>
            <th>*מקום ביצוע הבדיקה</th>
            <th>*שם המבצע</th>
            <th>*שם הבודק</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ form.department }}</td>
            <td>{{ form.test_date }}</td>
            <td>{{ form.test_time_start }}</td>
            <td>{{ form.test_time_end }}</td>
            <td>{{ form.test_location }}</td>
            <td>{{ form.tester }}</td>
            <td>{{ form.checker }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-div">
      <table class="content-table wide">
        <thead>
          <tr>
            <th>*זיהוי פריט</th>
            <th>כמות פריטים</th>
            <th>*שיטת בדיקה</th>
            <th>*שיוך לספרות</th>
            <th>*שעתון ביצוע</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{ form.part_description }}
              <datalist id="part-list"></datalist>
            </td>
            <td>{{ form.number_of_parts }}</td>
            <td>{{ form.test_method }}</td>
            <td>{{ form.literature_code }}</td>
            <td>{{ form.testing_hours }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-div">
      <table class="content-table wide">
        <thead>
          <tr>
            <th>מס' סידורי</th>
            <th>מס' תג תהליך</th>
            <th>*כלי טיס/מכלול</th>
            <th>*מס' זנב/סידורי</th>
            <th>מס' סידורי של מכשיר בדיקה</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ form.part_id }}</td>
            <td>{{ form.tag_number }}</td>
            <td>{{ form.aircraft }}</td>
            <td>{{ form.aircraft_id }}</td>
            <td>{{ form.meter_id }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-div">
      <table class="content-table">
        <thead>
          <tr>
            <th>ממצאים</th>
            <th>הערות</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ form.findings }}</td>
            <td>{{ form.notes }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-div">
      <button type="submit" class="submitbtn" name="submit">שמור תיעוד</button>
      <button type="submit" class="submitbtn" name="add_more">
        שמור והכנס תיעוד דומה
      </button>
    </div>
  </form>
</div>

{% endblock content %}