{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'main/style.css' %}"
		/>

		<title>מערך אל-הרס</title>
	</head>
	<body dir="rtl">
		<header>
			<div>
				<a href="/" tabindex="-1"><strong>מערך אל-הרס</strong></a>
			</div>
			<div style="text-align: center">
				{% if user.is_authenticated %}
				<p>שלום, {{ user }}</p>
				{% else %}
				<span><a href="/login">היכנס לאתר</a></span>
				{% endif %}
			</div>
			<div>
				<nav class="hamburger" tabindex="1">
					<ul>
						<li><a href="/test">בדיקות</a></li>
						<li><a href="/item">פריטים</a></li>
						<li><a href="/measure">מכשירי מדידה</a></li>
						<li><a href="/tech">טכנאים</a></li>
						<li><a href="/change-password">שנה סיסמא</a></li>
						<li><a href="/logout">התנתק</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<section>{% block content %}{% endblock %}</section>
		<footer>{% block footer %}{% endblock %}</footer>
	</body>
</html>
