{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'main/style.css' %}"
		/>

		<title>מערך אל-הרס</title>
	</head>
	<body dir="rtl">
		<header>
			<div>
				<a href="/" tabindex="-1"><strong>מערך אל-הרס</strong></a>
			</div>
			<div class="text-center vert-center">
				{% if user.is_authenticated %}
				<p>שלום, <a href="{% url 'profile' user.id %}">{{ user }}</a></p>
				{% else %}
				<a href="/login">היכנס לאתר</a>
				{% endif %}
			</div>
			<div>
				<nav class="hamburger" tabindex="1">
					<ul>
						{% if user.is_authenticated %}
						<li><a href="/test">בדיקות</a></li>
						<li><a href="/item">פריטים</a></li>
						<li><a href="/measure">מכשירי מדידה</a></li>
						<li><a href="/technician/">טכנאים</a></li>
						<li><a href="{% url 'profile' user.id %}">דף משתמש</a></li>
						<li><a href="{% url 'change-password' user.id %}">שנה סיסמא</a></li>
						<li><a href="/logout">התנתק</a></li>
						{% else %}
						<li><a href="/login">התחבר</a></li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</header>
		<section>{% block content %}{% endblock %}</section>
		<footer>{% block footer %}{% endblock %}</footer>
	</body>
</html>
