{% extends "main/base.html" %} {% block content %}
<!-- shows extra links only to autherized people -->
<div class="home">
	<div class="home-col">
		<a class="button" href="test/new/">הכנס פרטי בדיקה</a>
		{% if user.groups.name != "טכנאי" %}
		<a class="button" href="/technician/new">צור משתמש</a>
		<a class="button" href="/technician">רשימת טכנאים</a>
	</div>
	<div class="home-col">
		<a class="button" href="/item/new">הוסף פריט</a>
		<a class="button" href="/item">רשימת פריטים</a>
	</div>
	<div class="home-col">
		<a class="button" href="/measure/new">הוסף כלי מדידה</a>
		<a class="button" href="/measure">רשימת כלי מדידה</a>
		{% endif %}
	</div>
</div>
{% endblock %}
