{% extends "main/base.html" %} {% block content %}
<table class="content-table alt-rows">
	<thead>
		<tr>
			<th>תיאור פריט</th>
			<th>מספר יצרן</th>
			<th>שיטת בדיקה</th>
			<th>שיוך לספרות טכנית</th>
			<th>שעתון בדיקה</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for item in object_list %}
		<tr>
			<td>{{ item.part_description }}</td>
			<td>{{ item.manufacturer_id }}</td>
			<td>{{ item.get_test_method_display }}</td>
			<td>{{ item.literature_code }}</td>
			<td>{{ item.testing_hours }}</td>
			<td>
				<a class="delete-item big" href="{% url 'item-delete' item.id %}"></a>
				<a class="update-item big" href="{% url 'item-update' item.id %}"></a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}
