{% extends "main/base.html" %} {% block content %}
<div class="center">
	<table class="content-table wide">
		<thead>
			<tr>
				<th>מחלקה</th>
				<th>תאריך בדיקה</th>
				<th>מקום הבדיקה</th>
				<th>כלי טיס</th>
				<th>שם המבצע והבודק</th>
				<th>ממצאים</th>
				<th>הערות</th>
				<th>פריטים</th>
			</tr>
		</thead>
		<tbody>
			{% for test in object_list %}
			<tr>
				<td>{{ test.get_department_display }}</td>
				<td>
					{{ test.test_date|date:"j/n/Y" }}<br />
					{{ test.test_time_start|time:"H:i" }}<br />
					{{ test.test_time_end|time:"H:i" }}
				</td>
				<td>{{ test.get_test_location_display }}</td>
				<td>
					{{ test.aircraft }}<br /><br />
					{{ test.aircraft_id }}
				</td>
				<td>
					{{ test.tester }}<br /><br />
					{{ test.checker }}
				</td>
				<td>{{ test.get_findings_display }}</td>
				<td>{{ test.notes }}</td>
				<td><a class="add-item small" href="#"></a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}
