{% extends "main/base.html" %} {% block content %} {% load static %}
<script src="{% static 'main/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'main/jquery.formset.js' %}"></script>
<script type="text/javascript">
	$(function () {
		$(".inline.{{ item_form.prefix }}").formset({
			prefix: "{{ item_form.prefix }}",
		});
	});
</script>

<form method="post">
	{% csrf_token %}
	<div class="container">
		<div style="flex: 1">
			<h2>פרטי הזנה</h2>
			<table class="test-table">
				{{ form.as_table }}
			</table>
		</div>
		<div style="flex: 2">
			<h2>פריטים שנבדקו</h2>
			<div class="forms-col">
				{{ item_form.management_form }} {{ item_form.non_form_errors }}
				<!-- ^^ needed to deal with expanding formset ^^ -->
				{% for form in item_form %}
				<div class="item-form inline {{ item_form.prefix }}">
					<table>
						{{ form.as_table }}
					</table>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<button type="submit" class="button" name="submit">שמור תיעוד</button>
</form>
{% endblock %}
