{% extends "main/base.html" %} {% block content %} {% load static %}
<script src="{% static 'main/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'main/jquery.formset.js' %}"></script>
<script type="text/javascript">
	$(function () {
		$(".inline.{{ item_form.prefix }}").formset({
			prefix: "{{ item_form.prefix }}",
		});
	});
</script>

<form action="." method="post">
	{% csrf_token %}
	<table>
		<thead>
			<tr class="big-text">
				<th>פרטי הזנה</th>
				<th>פריטים שנבדקו</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="test-col">
					<table class="test-table">
						{{ form.as_table }}
					</table>
				</td>
				<td class="item-col">
					{{ item_form.management_form }} {{ item_form.non_form_errors }}
					<!-- ^^ needed to deal with expanding formset ^^ -->
					{% for form in item_form %}
					<div class="item-form inline {{ item_form.prefix }}">
						<table>
							{{ form.as_table }}
						</table>
					</div>
				</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>
	<button type="submit" class="submitbtn" name="submit">שמור תיעוד</button>
</form>
{% endblock content %}
