{% extends "main/base.html" %} {% block content %} {% load static %}
<script src="{% static 'main/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'main/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $(".inline.{{ item_form.prefix }}").formset({
            prefix: "{{ item_form.prefix }}",
        })
        $(".inline.{{ item_form.prefix }}").formset({
            prefix: "{{ item_form.prefix }}",
        })
    })
</script>
<div>
    <h1>Add Test</h1>
    <form action="." method="post">
        {% csrf_token %}
        <div>
            {{ form.as_p }}
        </div>
        <fieldset>
            <legend>Test Item</legend>
            {{ item_form.management_form }}
            {{ item_form.non_form_errors }}
            {% for form in item_form %}
            {{ form.id }}
                <div class="inline {{ item_form.prefix }}">
                  {% for field in form %}
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                  {% endfor%}
                </div>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Add recipe" class="submit" />
    </form>
</div>
{% endblock content %}
